#navbar {
   box-sizing: border-box;
   background-color: var(--bg-sidebar);
   border-right: 1px solid var(--border-color);
   padding: 1rem 2rem;
   position: relative;
   min-height: 80px;
   max-height: 100vh;
   border-bottom: 1px solid var(--border-color);
}


.logo-wrapper {
   width: 100%;
}

.title-pill {
   overflow: hidden;
   white-space: nowrap;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.app-title {
   font-size: 1.2rem;
   font-weight: bold;
   padding-left: 1rem;
}

.logo {
   width: 3rem;
   height: auto;
   display: inline-block;
   pointer-events: none;
}

.burger-btn { font-size: 1.5rem; }
.fa-square-minus { font-size: 1.5rem; display: none }

.nav-menu.is-open {
   position: absolute;
   top: 100%;
   left: 0;
   width: 100%;
   height: auto;
   z-index: 9999;
   padding: 1rem 2rem;
   background: var(--bg-dark);
   border-bottom: 1px solid var(--accent-blue);
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   grid-auto-rows: 4rem;
}

.nav-menu { 
   display: none;
   padding: 0;
   padding-top: 4rem;
   list-style-type: none;
   margin: 0;
   overflow-x: hidden;
   overflow-y: auto;
   height: 100%;
}

.nav-item {
   padding: 0.8rem 1rem;
   border-radius: 0.5rem;
   white-space: nowrap;
   margin-bottom: 1rem;
   user-select: none;
   position: relative;
}
.nav-item-icon { font-size: 1.5rem; }
.nav-item-text { padding-left: 1rem; font-size: 1.1rem; }

.nav-item:last-child { margin-top: auto; }

.nav-item:hover {
   box-shadow: inset 0 0 0 1px var(--border-color);
   background: rgba(255,255,255, 0.1);
}

.nav-item.active {
   background: var(--bg-purple);
}

.nav-item.active .nav-item-text {
   color: white
}

.collapsed {
   width: 6rem !important;
   padding: 4rem 1rem !important;
}

.collapsed .logo {
   display: block;
   margin-inline: auto;
}

.collapsed .app-title { display: none; }
.collapsed li { padding: 0.8rem 1rem; }
.collapsed .fa-square-minus { display: none }

@media (min-width: 75rem) {
   #navbar {
      padding: 4rem 1.5rem;
      position: sticky;
      top: 0;
      height: 100vh;
      width: 18rem;
      border-bottom: 0;
   }
   .nav-menu {
      display: flex;
      flex-direction: column;
   }
   .burger-btn {
      display: none;
   }
   .fa-square-minus { display: block }
   .logo {
      pointer-events: auto;
   }
}

