<div class="d-flex flex-column justify-content-between" style="flex: 1 1 auto;">
   
   <form method="POST" action="{% url 'link_word_edit' lang_id=lang_id word_id=word_id rel_word_id=rel_word.id %}"
      class="">
      {% csrf_token %}
      <label for="{{form.relation_type.id_for_label}}" class="form-label">Relation type</label>
      <div class="d-flex justify-content-between gap-4">
         <div class="select-wrapper w-100">
            {{form.relation_type}}
         </div>
         <button type="submit" class="btn btn-primary">Update</button>
      </div>

   </form>
   <a hx-get="{% url 'unlink_word' lang_id=lang_id word_id=word_id rel_word_id=rel_word.id %}"
      hx-target="#genericModalBody"
      hx-trigger="click" hx-target-error="#error-box" style="width: 200px;"
      class="anchor-not-href mx-auto"
      >
      Unlink {{rel_word.name}}
   </a>
</div>