{% if is_edit %}
   {% url 'segment_edit' source_id=source_id segment_id=segment.id as target_url %}
{% else %}
   {% url 'segment_add' source_id=source_id as target_url %}
{% endif %}


<form
   hx-post="{{target_url}}"
   hx-target="#genericModalBody"
   hx-target-error="#error-box"
   hx-swap="innerHTML">
   {% csrf_token %}

   <div class="mb-3">
      <label class="form-label" for="{{form.segment_type.id_for_label}}">{{form.segment_type.label}}</label>
      {{form.segment_type}}
      {{form.segment_type.errors}}
      <div id="{{form.segment_type.id_for_label}}-dropdownParent"></div>
   </div>
   
   <div class="mb-3 d-flex gap-3">
      <div id="numberSection" class="w-30">
         <label class="form-label" for="{{form.number.id_for_label}}">{{form.number.label}}</label>
         {{form.number}}
         {{form.number.errors}}
      </div>
      <div class="w-70">
         <label class="form-label" for="{{form.name.id_for_label}}">{{form.name.label}}</label>
         {{form.name}}
         {{form.name.errors}}
      </div>
   </div>
      
   {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
      <div class="text-danger">{{ error }}</div>
      {% endfor %}
   {% endif %}
   <div class="mt-5 d-flex justify-content-between">
      {% if segment %}
         <a class="anchor-not-href"
            hx-get="{% url 'generic_confirm_delete' %}"
            hx-vals='{"type": "Segment", "name": "{{ segment.name }}", "delete_url":"{% url 'segment_delete' segment_id=segment.id source_id=source_id %}"}'
            hx-target="#genericModalBody"
            hx-trigger="click">
            Remove this segment
         </a>
      {% else %}<div></div>
      {% endif %}
      <div>
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
         <button type="submit" class="btn btn-primary ms-3">
            Submit
         </button>
      </div>
   </div>
</form>

<div data-modal-init="prepareSegmentForm"></div>