{% extends 'base.html' %}


{% block innerbody %}

<div class="container px-5 py-4">
   
   <div class="d-flex align-items-center">
      <h1 class="m-0">{{source.name}}</h1>
      
      <button class="btn btn-primary ms-auto"
         hx-get="{% url 'episode_add' source_id=source.id%}"
         hx-target="#genericModalBody"
         hx-target-error="#error-box"
         hx-trigger="click"
         data-bs-toggle="modal"
         data-bs-target="#genericModal">
         Add an episode
      </button>
   </div>

   <div id="episode-list" class="my-5">
      {% for season, episode_list in grouped_by_season.items %}
         <h3 class="my-4">Season {{season}}</h3>
         {% for ep in episode_list %}
            <div class="episode mb-3 fs-5">
               <a href="{% url 'play_session_episode' lang_id=lang_id episode_id=ep.id %}">
                  S{{ep.season_number}}E{{ep.episode_number|stringformat:"02d"}} - {{ep.name}}
               </a>
               <a hx-get="{% url 'episode_edit' source_id=source.id episode_id=ep.id %}"
                  hx-trigger="click"
                  hx-target="#genericModalBody"
                  hx-target-error="#error-box"
                  data-bs-toggle="modal"
                  data-bs-target="#genericModal"
                  style="cursor: pointer;"
                  class="ms-3">
                  <i class="fa-regular fa-pen-to-square" style="font-size: 0.8rem;"></i>
               </a>
            </div>
         {% endfor %}
      {% endfor %}
   </div>
</div>
{% endblock innerbody %}


{% block additionalScripts %}
<script>
   function initEpisodeForm() {
      document.getElementById('genericModalTitle').textContent = 'Add/Edit an episode';
   }
</script>
{% endblock additionalScripts %}