{% extends 'base.html' %}

{% block title %}Languages{% endblock %}

{% block sidebar %}{% endblock %}
{% block sidebarStyle %}{% endblock %}

{% block additionalStyles %}{% endblock additionalStyles %}

{% block innerbody %}
<div class="container-fluid">
   <div class="pt-5 wireframe w-95 mx-auto d-flex justify-content-center" style="margin-top: 20px;">
      <div class="w-25">
         <a href="{% url 'start_screen' %}"><i class="fa-solid fa-house fs-2"></i></a>
      </div>
      <div class="w-50 wireframe">
         <a data-bs-toggle="modal" data-bs-target="#genericModal"
            hx-get="{% url 'lang_modal_form' %}" hx-target="#genericModalBody"
            hx-vals='{"can_edit_img": true}'
            hx-trigger="click" hx-target-error="#error-box" 
            class="text-decoration-none d-flex justify-content-center gap-3 add-lang" style="color: #c8c4cc;">
      
            <i class="fa-solid fa-circle-plus"
               style="font-size: 36px;"></i>
            <h4 class="pt-1">Create a new language</h4>
         </a>
      </div>
      <div class="w-25">
      </div>
   </div>

   
   <div class="w-95 mx-auto my-4 py-3">
      <span class="pe-4 fs-5">Languages displayed in start screen: </span>
      {% for id, name in in_home_screen %}
         <span class="pe-4">
            {{name}}
            <a class="ps-2" href="{% url 'lang_remove_set' lang_id=id %}">Remove</a>
         </span>
      {% endfor %}
   </div>

   <div class="wireframe w-95 mx-auto">
      <div class="row gx-5 gy-4">
      {% for lang in languages %}
         <div class="col-4 {% if languages|length == 1 %}offset-3{% endif %}">
            <div class="lang-card card rounded text-light px-5 py-4 position-relative"
               style="height: 300px;">
               <div class="d-flex justify-content-between align-items-center w-100">
                  <div class="fs-4">{{lang.name}}</div>
                  <a href="{% url 'lang_add_set_with_id' lang_id=lang.id %}" class="add-to-home"><i class="fa-solid fa-house-medical"></i></a>
               </div>
               <div class="wireframe row" style="height: 120px; margin-top: 34px">
                  <div class="col-7 wireframe" style="overflow: hidden;">
                     <div class="d-flex gap-3">
                        <p><b>Word count:</b></p>
                        <p>{{lang.word_set.count}}</p>
                     </div>
                     <div name="" id="" style="overflow: auto; max-height: 70px;">
                        <span>
                        {%for cty in lang.countries.all%}{{cty.name}}{%if not forloop.last%}, {%endif%}{%endfor%}
                        </span>
                     </div>
                  </div>
                  <div class="col-5 wireframe d-flex justify-content-center">
                     <div style="width: 100%; height: 120px; overflow: hidden;
                        position: relative;">
                        {% if lang.image.file %}
                        <img src="{{ lang.image.file.url }}" alt="{{ lan.name }}"
                           style="width: 100%; height: 100%; object-fit: cover;">
                        {% endif %}
                     </div>
                  </div>
               </div>
               <div class="mt-4 d-flex gap-5 justify-content-between align-items-center">
                  <a data-bs-toggle="modal"
                     data-bs-target="#genericModal"
                     hx-get="{% url 'lang_edit_form' lang_id=lang.id %}" hx-target="#genericModalBody"
                     hx-vals='{"can_edit_img": "{{lang.added_manually}}"}'
                     hx-trigger="click" hx-target-error="#error-box" style="cursor: pointer;">
                     <i class="fa-solid fa-pen-to-square yellow pe-4"></i>Edit
                  </a>
                  {% if lang.added_manually %}
                  <a style="bottom: 20px; right: 20px; position: absolute;
                     right: 24px; bottom: 24px; cursor: pointer;"
                     class="remove-lang"
                     hx-get="{% url 'generic_confirm_delete' %}"
                     hx-vals='{"type": "Language", "name": "{{ lang.name }}", "delete_url":"{% url 'lang_delete' lang.id %}"}'
                     hx-target="#genericModalBody"
                     hx-trigger="click"
                     data-bs-toggle="modal"
                     data-bs-target="#genericModal">
                     <i class="fa-solid fa-trash"></i>
                  </a>
                  {% endif %}
               </div>
            </div>
         </div>
      {% endfor %}
      </div>
   </div>

   <div class="wireframe d-flex justify-content-center" style="min-height: 200px;">
   </div>
</div>
{% endblock %}


{% block additionalScripts %}
<script>
   const reloadSelect2Items = function() {
      $('#id_countries').select2({
         theme: 'bootstrap-5',
         placeholder: 'Choose an option...',
         dropdownParent: $('#genericModal .modal-content')
      });
   }
</script>
{% endblock %}