{% extends 'base.html' %}

{% block additionalStyles %}
<style>
   .unselectable {
      /* filter: blur(0.5rem); */
      cursor: not-allowed;
      display: none;
   }

</style>
{% endblock additionalStyles %}

{% block innerbody %}

{% if episode %}
   {% url 'session_episode_cite' episode_id=episode.id lang_id=lang_id as target_url %}
{% elif segment %}
   {% url 'session_segment_cite' segment_id=segment.id lang_id=lang_id as target_url %}   
{% elif source %}
   {% url 'session_single_cite' source_id=source.id lang_id=lang_id as target_url %}
{% endif %}

{% with item=episode|default:segment|default:source %}
<div class="container px-5 py-4">

   <div class="d-flex align-items-center">
   <h1 class="">{{item.name}}</h1>

   <button hx-get="{{target_url}}"
      hx-trigger="click"
      hx-target="#genericModalBody"
      hx-target-error="#error-box"
      data-bs-toggle="modal"
      data-bs-target="#genericModal"
      class="btn btn-primary ms-auto"
      >Add an example</button>
   </div>

   <div class="mt-5">
      {% for cit_id, time, w_id, w_name, d_id, d_desc, ex_id, ex_desc in citations %}
      
      {% if episode %}
         {% url 'session_episode_cite_edit' citation_id=cit_id episode_id=episode.id lang_id=lang_id as edit_url %}
      {% elif segment %}
         {% url 'session_segment_cite_edit' citation_id=cit_id segment_id=segment.id lang_id=lang_id as edit_url %}   
      {% elif source %}
         {% url 'session_single_cite_edit' citation_id=cit_id source_id=source.id lang_id=lang_id as edit_url %}
      {% endif %}

      <a hx-get="{{edit_url}}"
         hx-trigger="click"
         hx-target="#genericModalBody"
         hx-target-error="#error-box"
         data-bs-toggle="modal"
         data-bs-target="#genericModal"
      >Edit citation</a>
      <div>{{cit_id}}</div>
      <div>{{time}}</div>
      <div>{{w_id}}</div>
      <div>{{w_name}}</div>
      <div>{{d_id}}</div>
      <div>{{d_desc}}</div>
      <div>{{ex_id}}</div>
      <div>{{ex_desc}}</div>
      <a hx-get="{% url 'citation_delete' lang_id=lang_id citation_id=cit_id %}"
         hx-trigger="click"
         hx-target="#genericModalBody"
         hx-target-error="#error-box"
         data-bs-toggle="modal"
         data-bs-target="#genericModal"
      >Remove citation</a>
      <div class="mb-4"></div>
      {% endfor %}
   </div>
</div>
{% endwith %}

{% endblock innerbody %}

{% block additionalScripts %}
<script>
   const defn_ajax_url = "{{defn_ajax_url}}";


   //called from base.html htmx:afterSettle which looks for data-modal-init="prepareSelect2CitationForm" inside the _citation_form swapped content
   //(ノಠ益ಠ)ノ彡┻━┻
   function prepareSelect2CitationForm() {
      $('#genericModalTitle').text('Create a citation');

      const $wordInput = $('#id_word');
      const $defSelect = $('#id_definition_select');
      const $defInput = $('#id_definition_input');

      
      const $initialId = $wordInput.data('initialId');
      console.log($initialId);
      if ($initialId != "None") {
         console.log('passed');
         $wordInput.append(
            $('<option>', {
               value: $initialId,
               text: $wordInput.data('initialWord')
            })
         ).trigger('change');
         if ($defSelect.data('initialId')){
            loadDefinitions($initialId).then(() => {
               $defSelect.val($defSelect.data('initialId')).trigger('change');
            });
         }
      } else {
         $wordInput.append($('<option></option>')) //select2.select not fire when use remote source and createTag  #5386
      }
      

      function showDefinitionField(useSelect) {
         $defSelect.prop('disabled', !useSelect);
         $defInput.prop('disabled', useSelect);
         if (!useSelect) $defInput.val('');
         $defSelect.closest('.row-wrapper').toggleClass('unselectable', !useSelect);
         $defInput.closest('.row-wrapper').toggleClass('unselectable', useSelect);
      }

      async function loadDefinitions(wordId) {
         const url = `${defn_ajax_url}?word_id=${wordId}`;
         try {
            const response = await fetch(url);
            if (!response.ok) throw new Error(`HTTP error! Status: ${response.status}`);
            const data = await response.json();
            $defSelect.empty();
            if (data.results.length > 0) {
               data.results.forEach(item => {
                  $('<option>', { value: item.id, text: item.text}).appendTo($defSelect);
               });
               $('<option>', { value: -1, text: 'New definition'}).appendTo($defSelect);
               showDefinitionField(true);
            } else {
               showDefinitionField(false);
            }
         } catch (err) {
            console.error('Fetch error:', err);
         }
      }


      $wordInput.on('select2:select', async function(e) {
         var wordId = parseInt($(this).val(), 10);

         if (Number.isNaN(wordId)) {
            showDefinitionField(false);
         } else {
            await loadDefinitions(wordId);
            $defInput.val('');
         }
         
         $('#id_example').closest('.row-wrapper').removeClass('unselectable');
      });

      $defSelect.on('change', function() {
         if ($(this).val() == '-1') {
            $defInput.closest('.row-wrapper').removeClass('unselectable');
            $defInput.prop('disabled', false);
         } else {
            showDefinitionField(true);
         }
      });

      $defSelect.prop('disabled', true);
      $defInput.prop('disabled', true);
   }
</script>
{% endblock additionalScripts %}
