{% extends 'base.html' %}

{% block additionalStyles %}
<style>
   .tv-grid {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      column-gap: 20px;
      row-gap: 40px;
   }

   .source-card {
      max-width: 174px;
      height: 360px;
      display: flex; flex-direction: column;
      /* border: 1px solid white; */
      
   }

   .img-wrapper { 
      background-color: black;
      overflow: hidden;
      height: 261px;
      border-radius: 0.5rem;
      display: flex;
      align-items: center;
   }

   .source-card img {
      width: 100%;
      height: 100%;
   }

   .content-wrapper {
      height: 99px;
      padding-top: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }

   .source-title {font-size: 0.875rem; height: 45px; max-height: 45px; overflow-y: scroll; line-height: 1.3rem;}
   .buttons-row { height: 40px; margin-top: 9px; background: var(--bg-sidebar-pill); border-radius: 1rem; padding: 5px}
   .row-icon-sm { font-size: 0.875rem; }
   .section-title { margin: 30px 0; font-size: 2rem; font-weight: bold}
</style>
{% endblock additionalStyles %}

{% block innerbody %}
<div class="container">
   <div class="d-flex justify-content-center my-5 gap-5">
      <h2 class="m-0">My Sources</h2>
      <button class="btn btn-important"
         hx-get="{% url 'source_add' lang_id=lang_id %}"
         hx-trigger="click"
         hx-target="#genericModalBody"
         hx-target-error="#error-box"
         data-bs-toggle="modal"
         data-bs-target="#genericModal">
            Add source
         </button>
   </div>
   <div id="search-row" class="d-flex gap-4 w-60 mx-auto mb-5">
      <input type="text" placeholder="Search..." class="form-control">
      <select name="source-category" id="id_source_category" class="form-select" style="max-width: 300px;">
         <option value="">--Select an option---</option>
         <option value=""></option>
      </select>
   </div>
   
   {% for stitle, sources in sections.items %}
      <div class="section-title">{{stitle}}s</div>
      
      {% if stitle == "Movie" or stitle == "TV Show" %}
         <div class="tv-grid">
            {% for source in sources %}
            {% with cat=source.source_category %}
               {% if cat == 'TVS' %}
                  {% url 'episodes' lang_id=lang_id source_id=source.id as href_url %}
               {% elif cat in 'MOV,SON,POD' %}
                  {% url 'play_session_source' lang_id=lang_id source_id=source.id as href_url %}
               {% else %}
                  {% url 'segments' lang_id=lang_id source_id=source.id as href_url %}
               {% endif %}
            <div class="mb-4 source-card">
               <div class="img-wrapper">
                  
                     
                  {% if source.image and source.image.file %}
                  <a href="{{href_url}}">
                     <img src="{{ source.image.file.url }}" alt="Image" style="max-width: 100%; height: auto">
                  </a>
                  {% endif %}
               </div>
               <div class="content-wrapper">
                  <div class="source-title">
                     {{source.name}}{% if source.released_year %} ({{source.released_year}}){% endif %}
                  </div>
                  <div class="buttons-row d-flex justify-content-between align-items-center">
                     <div>
                        <a style="cursor: pointer"
                           hx-get="{% url 'source_edit' lang_id=lang_id source_id=source.id %}"
                           hx-trigger="click"
                           hx-target="#genericModalBody"
                           hx-target-error="#error-box"
                           data-bs-toggle="modal"
                           data-bs-target="#genericModal">
                           
                           <i class="fa-regular fa-pen-to-square row-icon-sm text-muted"></i>
                        </a>
                        {% if source.image and source.image.file %}
                        <a class="ps-2" style="cursor: pointer"
                           hx-get="{% url 'show_image' img_id=source.image_id %}"
                           hx-trigger="click"
                           hx-target="#genericModalImgContent"
                           hx-target-error="#error-box"
                           data-bs-toggle="modal"
                           data-bs-target="#genericModalImg">
                           <i class="fa-regular fa-eye row-icon-sm text-muted"></i>
                        </a>
                        {% endif %}
                     </div>
                     <a href="{{href_url}}" class="d-flex align-items-center text-decoration-none">
                        <span class="fa-stack row-icon-sm" style="width: 2em">
                           <i class="fa-solid fa-circle fa-stack-1x" style="color: white;"></i>
                           <i class="fa-solid fa-circle-arrow-right fa-stack-2x" style="color: var(--bg-primary);"></i>
                        </span>
                     </a>
                  </div>
               </div>
            </div>
            {% endwith %}
            {% endfor %}
         </div>
      {% endif %}
      {% if not forloop.last %}<hr>{% endif %}
   {% endfor %}
     
</div>

<button class="btn btn-secondary d-block mx-auto mt-5"
   hx-get="{% url 'source_add' lang_id=lang_id %}"
   hx-trigger="click"
   hx-target="#genericModalBody"
   hx-target-error="#error-box"
   data-bs-toggle="modal"
   data-bs-target="#genericModal"
   >
   Add source
</button>

{% endblock innerbody %}

{% block additionalScripts %}
<script>
function initSourceForm() {
   document.getElementById('genericModalTitle').textContent = 'Create/Edit a source';
}
</script>
{% endblock additionalScripts %}