{% extends 'base.html' %}

{% block additionalStyles %}
<style>
   .source-card { min-height: 280px; display: flex; flex-direction: column;}
   .source-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 20px;
   }
   .source-card img {
      aspect-ratio: 2 / 3;
   }
   .img-wrapper { 
      background-color: black;
      border-radius: 0.5rem 0 0 0.5rem;
   }
</style>
{% endblock additionalStyles %}

{% block innerbody %}
<div class="container-fluid px-5">
   <div class="d-flex justify-content-center my-5 gap-5">
      <h1 class="m-0">My Sources</h1>
      <button class="btn btn-important"
         hx-get="{% url 'source_add' lang_id=lang_id %}"
         hx-trigger="click"
         hx-target="#genericModalBody"
         hx-target-error="#error-box"
         data-bs-toggle="modal"
         data-bs-target="#genericModal">
            Add source
         </button>
   </div>
   <div id="search-row" class="d-flex gap-4 w-60 mx-auto mb-5">
      <input type="text" placeholder="Search..." class="form-control">
      <select name="source-category" id="id_source_category" class="form-select" style="max-width: 300px;">
         <option value="">--Select an option---</option>
         <option value=""></option>
      </select>
   </div>

   <div class="source-grid">
      {% for source in sources %}

      <div class="custom-card mb-4 source-card">
         <div class="d-flex" style="flex: 1">
            <div class="w-35 d-flex flex-column justify-content-center img-wrapper">
               {% if source.image and source.image.file %}
               <img src="{{ source.image.file.url }}" alt="Image" style="max-width: 100%;"
                  hx-get="{% url 'show_image' img_id=source.image_id %}"
                  hx-trigger="click"
                  hx-target="#genericModalBody"
                  hx-target-error="#error-box"
                  data-bs-toggle="modal"
                  data-bs-target="#genericModal">
               {% endif %}
            </div>
            <div class="w-65 d-flex flex-column justify-content-between p-4">
               <div>
                  <h3>{{source.name}}</h3>
                  <h5>{% if source.short_name %}{{source.short_name}} - {% endif %}{{source.released_year}}</h5>
                  <p class="m-0 mt-4">Seasons - 5</p>
                  <p class="m-0">Episodes - 5</p>
                  <p class="m-0">Citations - 285</p>
               </div>
               <div class="d-flex justify-content-between align-items-center">
                  <a href=""
                     hx-get="{% url 'source_edit' lang_id=lang_id source_id=source.id %}"
                     hx-trigger="click"
                     hx-target="#genericModalBody"
                     hx-target-error="#error-box"
                     data-bs-toggle="modal"
                     data-bs-target="#genericModal">
                     
                     <i class="fa-regular fa-pen-to-square fs-5"></i>
                  </a>
                  {% with cat=source.source_category %}
                  {% if cat == 'TVS' %}
                     <a href="{% url 'episodes' lang_id=lang_id source_id=source.id %}">
                  {% elif cat == 'MOV' or cat == 'SON' %}
                     <a href="{% url 'play_session_source' lang_id=lang_id source_id=source.id %}">
                  {% else %}
                     <a href="{% url 'segments' lang_id=lang_id source_id=source.id %}">
                  {% endif %}
                  {% endwith %}
                     <i class="fa-solid fa-circle-arrow-right fs-2" style="color: var(--bg-primary)"></i>
                  </a>
               </div>
            </div>
         </div>
      </div>

      {% endfor %}
     
</div>

<button class="btn btn-secondary d-block mx-auto mt-5"
   hx-get="{% url 'source_add' lang_id=lang_id %}"
   hx-trigger="click"
   hx-target="#genericModalBody"
   hx-target-error="#error-box"
   data-bs-toggle="modal"
   data-bs-target="#genericModal"
   >
   Add source
</button>

{% endblock innerbody %}

{% block additionalScripts %}
<script>
function initSourceForm() {
   document.getElementById('genericModalTitle').textContent = 'Create/Edit a source';
}
</script>
{% endblock additionalScripts %}