{% extends 'base.html' %}
{% load custom_filters %}
{% block additionalStyles %}
<style>
   .tv-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(174px, 1fr));
      column-gap: 40px;
      row-gap: 40px;
   }

   .source-card {
      aspect-ratio: 2 / 3;
      min-width: 174px;
      min-height: 261px;
      display: flex; flex-direction: column;
      /* border: 1px solid white; */
   }
   .source-card-book {
      aspect-ratio: 1 / 1.6;
      min-width: 172px;
      min-height: 275px;
      display: flex; flex-direction: column;
   }

   .img-wrapper { 
      background-color: black;
      overflow: hidden;
      height: 100%;
      border-radius: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   .img-wrapper img {
      max-width: 100%;
      max-height: 100%;
   }

   .show-poster, .book-cover {
      height: 100%;
      width: 100%;
   }
   .icon-sm { font-size: 0.875rem; }
   .section { padding-bottom: 30px; border-bottom: 1px solid var(--border-color)}
   .section-title { padding-top: 20px; margin-bottom: 30px; font-size: 2rem; font-weight: bold}

   .show-poster, .book-cover { position: relative;}

   .album-grid, .book-grid { 
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(174px, 1fr));
      column-gap: 40px;
      row-gap: 40px;
   }

   .album-cover { 
      min-width: 174px;
      min-height: 174px; 
      background: black; position: relative;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
   }

   .album-overlay, .show-overlay, .book-overlay {
      cursor: pointer;
      opacity: 0;
      transition: .2s ease;
      width: 100%; height: 100%;
      position: absolute;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 10px;
      backdrop-filter: blur(12px); 
      -webkit-backdrop-filter: blur(12px);
      background-color: rgba(0, 0, 0, 0.85);
  }
  .album-cover:hover .album-overlay, .show-poster:hover .show-overlay, .book-cover:hover .book-overlay {
      opacity: 1;
   }
   .show-overlay { border-radius: 0.35rem; }
   .album-year { font-size: 0.8rem; color: var(--text-muted) }
   .show-name, .album-name, .book-name { font-size: 1rem; font-weight: bold;}
   .show-author, .album-author, .book-author { font-size: 0.9rem; font-style: italic; color: var(--text-muted)}

   .book-img-wrapper { 
      overflow: hidden;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
   }
   .book-img-wrapper img {
      height: 100%; width: 100%; object-fit: contain;
   }
   .track-container {
      background:
         radial-gradient(circle at 0% 140%, rgba(51, 253, 172, 0.2), transparent 38%),
         radial-gradient(circle at 30% -40%, rgba(51, 192, 253, 0.2), transparent 38%),
         radial-gradient(circle at 70% 140%, rgba(95, 51, 253, 0.2), transparent 38%),
         radial-gradient(circle at 100% -40%, rgba(253, 51, 155, 0.2), transparent 38%),
         #000;
      padding: 20px 30px;
      border-radius: 0.5rem;
   }

   .track-description {
      color: var(--text-main);
      padding: 5px 10px;
   }
   .track { cursor: pointer}
   .track:hover {
      background: rgba(214, 214, 214, 0.2);
      backdrop-filter: blur(8px);           /* Blurs image/content behind row */
      -webkit-backdrop-filter: blur(8px);
   }
   #search-row { width: 60% }

   .select2-selection--single::after, .select-wrapper::after{/* the V */
      content: "";
   }
</style>
{% endblock additionalStyles %}

{% block innerbody %}
<div class="container-lg">
   <div class="d-flex justify-content-between my-5 gap-4">
      <div class="w-30">
         <h2 class="m-0">My Sources</h2>
      </div>
      <div class="d-flex gap-4 w-70 justify-content-between">
         <div id="search-row" class="d-flex gap-3 align-items-center">
            <select id="searchInput" type="text" class="form-control select2"
            data-placeholder="Search..."
            data-is-ajax="true"
            data-ajax-url="{% url 'search_source' lang_id=lang_id %}"
            data-allow-clear="true"
            data-min-input-len="3"
            ></select>
            <div id="searchInput-dropdownParent"></div>
         </div>
         <button type="button"
            class="btn btn-important my-auto"
            hx-get="{% url 'source_add' lang_id=lang_id %}"
            hx-trigger="click"
            hx-target="#genericModalBody"
            hx-target-error="#error-box"
            data-bs-toggle="modal"
            data-bs-target="#genericModal">
               Add source
         </button>
      </div>
   </div>
   
   
   {% for stitle, sources in sections.items %}
   <div class="section">
      <div class="section-title">{{stitle}}s</div>
      
      {% if stitle == "Movie" or stitle == "TV Show" %}
         <div class="tv-grid">
            {% for source in sources %}
               {% if source.source_category == 'TVS' %}
                  {% url 'episodes' lang_id=lang_id source_id=source.id as href_url %}
               {% elif source.source_category in 'MOV' %}
                  {% url 'play_session_source' lang_id=lang_id source_id=source.id as href_url %}
               {% endif %}
            <div class="source-card">
               <div class="show-poster">
                  <div class="img-wrapper" >
                     {% if source.image and source.image.file %}
                        <img src="{{ source.image.file.url }}" alt="Image">
                     {% endif %}
                  </div>
                  <div class="overlay show-overlay" data-url="{{href_url}}">
                     <div class="d-flex gap-3 justify-content-end">
                        {% if source.image and source.image.file %}
                        <a class="ps-2" style="cursor: pointer"
                           onclick="event.stopPropagation();"
                           hx-get="{% url 'show_image' img_id=source.image_id %}"
                           hx-trigger="click"
                           hx-target="#genericModalImgContent"
                           hx-target-error="#error-box"
                           data-bs-toggle="modal"
                           data-bs-target="#genericModalImg">
                           <i class="fa-regular fa-eye icon-sm text-muted"></i>
                        </a>
                        {%endif%}
                        <a style="cursor: pointer"
                           onclick="event.stopPropagation();"
                           hx-get="{% url 'source_edit' lang_id=lang_id source_id=source.id %}"
                           hx-trigger="click"
                           hx-target="#genericModalBody"
                           hx-target-error="#error-box"
                           data-bs-toggle="modal"
                           data-bs-target="#genericModal">
                           <i class="fa-regular fa-pen-to-square icon-sm text-muted"></i>
                        </a>
                     </div>
                     {% if source.author %}
                     <div class="pb-2">
                        <span class="text-center show-name">
                           {{source.name}}{% if source.released_year %} ({{source.released_year}}){% endif %}
                        </span>
                        <div class="show-author">{{source.author}}</div>
                     </div>
                     {% else %}
                        <span class="text-center show-name">
                           {{source.name}}{% if source.released_year %} ({{source.released_year}}){% endif %}
                        </span>
                        <div></div>
                     {% endif %}
                  </div>
               </div>
            </div>
            {% endfor %}
         </div>
      {% elif stitle == 'Book' %}
         <div class="book-grid">
            {% for source in sources %}
            <div class="source-card-book">
               <div class="book-cover">
                  <div class="book-img-wrapper">
                     {% if source.image and source.image.file %}
                        <img src="{{ source.image.file.url }}" alt="Image">
                     {% endif %}
                  </div>
                  <div class="overlay book-overlay" data-url="{% url 'segments' lang_id=lang_id source_id=source.id %}">
                     <div class="d-flex gap-3 justify-content-end">
                        {% if source.image and source.image.file %}
                        <a class="ps-2" style="cursor: pointer"
                           onclick="event.stopPropagation();"
                           hx-get="{% url 'show_image' img_id=source.image_id %}"
                           hx-trigger="click"
                           hx-target="#genericModalImgContent"
                           hx-target-error="#error-box"
                           data-bs-toggle="modal"
                           data-bs-target="#genericModalImg">
                           <i class="fa-regular fa-eye icon-sm text-muted"></i>
                        </a>
                        {%endif%}
                        <a style="cursor: pointer"
                           onclick="event.stopPropagation();"
                           hx-get="{% url 'source_edit' lang_id=lang_id source_id=source.id %}"
                           hx-trigger="click"
                           hx-target="#genericModalBody"
                           hx-target-error="#error-box"
                           data-bs-toggle="modal"
                           data-bs-target="#genericModal">
                           <i class="fa-regular fa-pen-to-square icon-sm text-muted"></i>
                        </a>
                     </div>
                    {% if source.author %}
                     <div class="pb-2">
                        <span class="text-center book-name">
                           {{source.name}}{% if source.released_year %} ({{source.released_year}}){% endif %}
                        </span>
                        <div class="book-author">{{source.author}}</div>
                     </div>
                     {% else %}
                        <span class="text-center book-name">
                           {{source.name}}{% if source.released_year %} ({{source.released_year}}){% endif %}
                        </span>
                        <div></div>
                     {% endif %}
                  </div>
               </div>
            </div>
            {% endfor %}
         </div>
      {% elif stitle == 'Album' %}
         <div class="album-grid">
            {% for source in sources %}
               <div class="album-cover">
                  <img src="{{ source.image.file.url }}" alt="Image" style="max-width: 100%; height: auto">
                  <div class="overlay album-overlay" data-url="{% url 'segments' lang_id=lang_id source_id=source.id %}">
                     <span class="ms-auto">
                        <a style="cursor: pointer"
                           onclick="event.stopPropagation();"
                           hx-get="{% url 'source_edit' lang_id=lang_id source_id=source.id %}"
                           hx-trigger="click"
                           hx-target="#genericModalBody"
                           hx-target-error="#error-box"
                           data-bs-toggle="modal"
                           data-bs-target="#genericModal">
                           <i class="fa-regular fa-pen-to-square icon-sm text-muted"></i>
                        </a>
                     </span>
                     <span>
                        {% if source.related_year %}
                        <div class="album-year">({{source.released_year}})</div>
                        {% endif %}
                        <div class="album-name">{{source.name}}</div>
                        <div class="album-author">{{source.author}}</div>
                     </span>
                  </div>
               </div>
            {% endfor %}
         </div>
      {% endif %}
      {% if not forloop.last %}{% endif %}
   </div>
   {% endfor %}
   
   <div class="section border-0">
      <div class="section-title">Audio Sources</div>
      <div class="track-container">
         <div class="track-description row mb-3">
            <span class="col-1"><b>#</b></span><span class="col-3"><b>Author</b></span>
            <span class="col-5"><b>Name</b></span><span class="col-3"><b>Category</b></span>
         </div>
         {% for source in audio_sources %}
         <div class="track" data-url="{% url 'play_session_source' lang_id=lang_id source_id=source.id %}"
            {% if not forloop.last %}style="border-bottom: 1px solid var(--border-strong);"{% endif %}
         >
            <div class="track-description row">
               <span class="col-1">{{forloop.counter}}.</span>
               <span class="col-3">{% if source.author %}{{source.author}} {% endif %}</span>
               <span class="col-5">{{source.name}}</span>
               <div class="col-2">{{source.get_source_category_display}}</div>
               <div class="col-1">
                  <a style="cursor: pointer; display: inline-block; width: 100%; text-align: end;"
                     onclick="event.stopPropagation();"
                     hx-get="{% url 'source_edit' lang_id=lang_id source_id=source.id %}"
                     hx-trigger="click"
                     hx-target="#genericModalBody"
                     hx-target-error="#error-box"
                     data-bs-toggle="modal"
                     data-bs-target="#genericModal">
                     <i class="fa-regular fa-pen-to-square icon-sm text-muted"></i>
                  </a>
               </div>
            </div>
         </div>
         {% endfor %}
      </div>
   </div>
   <div class="d-flex justify-content-center">
      <a class="my-5 anchor-not-href"
         hx-get="{% url 'source_add' lang_id=lang_id %}"
         hx-trigger="click"
         hx-target="#genericModalBody"
         hx-target-error="#error-box"
         data-bs-toggle="modal"
         data-bs-target="#genericModal">
         Add a new source
      </a>
   </div>
</div>



{% endblock innerbody %}

{% block additionalScripts %}
<script>
function initSourceForm() {
   document.getElementById('genericModalTitle').textContent = 'Create/Edit a source';
   const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
   const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
}

document.querySelectorAll('.overlay, .track').forEach((el) => {
   el.addEventListener('click', (e) => {
      const url = e.currentTarget.dataset.url;
      window.location.href = url;
   });
});

prepareSelect2('searchInput');

$('#searchInput').on('select2:select', function(e) {
   let url = e.params.data.redirect_url;
   $('#searchInput').val('').trigger('change');
   window.location.href = url;
});

</script>
{% endblock additionalScripts %}