{% extends 'base.html'%}
{% load static %}

{% block title %}Start Page{% endblock %}

{% block sidebar %}{% endblock %}
{% block sidebarStyle %}{% endblock %}

{% block additionalStyles %}
<link rel="stylesheet" href="{% static 'swiper/swiper-bundle.min.css' %}">
<style>
   body { 
      background:
         radial-gradient(circle at 30% -20%, rgba(27, 43, 125, 0.25), transparent 40%),
         radial-gradient(ellipse at 50% 100%, rgba(27, 43, 125, 0.25), transparent 40%),
         linear-gradient(135deg, #0a0e17 0%, #0d1321 100%);
   }

   /* Small (sm) – 576px */
   @media (min-width: 36rem) {
      #lang-start-card { width: 90vw; }
   }

   /* Medium (md) – 768px */
   @media (min-width: 48rem) {
   }

   /* Large (lg) – 992px */
   @media (min-width: 62rem) {
   }

   /* Extra large (xl) – 1200px */
   @media (min-width: 75rem) {
      #lang-start-card { width: 75vw; }
   }

   .swiper-slide-active.card-float {
      border-radius: 0.5rem;
      /*box-shadow: 2px 2px 20px rgba(34, 61, 198, 0.5);*/
      border: 1px solid var(--border-color);
      background: 
         radial-gradient(circle at 0% 0%, rgba(58, 84, 201, 0.25), transparent 50%),
         radial-gradient(ellipse at 100% 100%, rgba(58, 84, 201, 0.25), transparent 50%);
   }


   /*.blur-right, .blur-left { position: relative; }
   .blur-arrow::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: 350px;
      height: 100%;
      z-index: 2;
      background: linear-gradient(to right,
         rgba(22, 27, 42, 0.15) 0%,
         rgba(22, 27, 42, 0.05) 50%,
         transparent 100%
      );
      backdrop-filter: blur(4px);
   }
   .blur-right::before { left: 100%; }
   .blur-left::before { right: 100%; }*/
</style>
{% endblock additionalStyles %}

{% block innerbody %}
<div class="wireframe d-flex flex-column justify-content-center align-items-center"
   style="height: 100vh;">
   <div class="position-fixed d-flex justify-content-between" style="bottom: 5vh; width: 80vw;">
      <a href="{% url 'languages' %}" class="d-flex gap-3 text-light text-decoration-none
         action-text align-items-center">
         <i class="fa-solid fa-shrimp" style="color: #bf562f;"></i>
         <div>Create or edit a language</div>
      </a>
      <a href="{% url 'lang_modal_form' %}" class="d-flex gap-3 text-light text-decoration-none
         action-text align-items-center">
         <div>Leave</div>
         <i class="fa-solid fa-right-from-bracket text-danger"></i>
      </a>
   </div>
   <div class="position-fixed d-flex justify-content-end" style="top: 2vh; width: 95vw;">
      <a href="{% url 'lang_modal_form' %}" class="text-light text-decoration-none">
         <div style="font-size: 48px;">
            <i class="fa-solid fa-circle-user"></i>
         </div>
      </a>
   </div>

   {% if languages %}
   <div class="position-fixed d-flex justify-content-center" style="top: 10vh; width: 95vw;">
      <a data-bs-toggle="modal" data-bs-target="#genericModal"
         hx-get="{% url 'lang_add_set' %}" hx-target="#genericModalBody"
         hx-trigger="click" hx-target-error="#error-box" 
         class="text-decoration-none d-flex gap-3 add-lang action-text align-items-center"
         style="color: #c8c4cc;">
         <i class="fa-solid fa-circle-plus"></i>
         <div>Add a language</div>
      </a>
   </div>
   {% endif %}
   <div id="lang-start-card" class="custom-card wireframe d-flex flex-column justify-content-center
      align-items-center position-relative" style="height: 60vh;">
      <div class="position-absolute start-50 translate-middle-x mt-3 text-light" 
         style="top: 5%; font-size: calc(1vw + 0.8em);">
         Choose a Language
      </div>
      <div class="wireframe w-100 h-50 d-flex justify-content-center align-items-center">
         {% if not languages %}
            <div class="col-12 mx-auto wireframe text-center p-4">
               <a data-bs-toggle="modal" data-bs-target="#genericModal"
                  hx-get="{% url 'lang_add_set' %}" hx-target="#genericModalBody"
                  hx-trigger="click" hx-target-error="#error-box" 
                  class="text-decoration-none add-lang" style="color: #c8c4cc;">
            
                  <i class="fa-solid fa-circle-plus mt-5"
                     style="font-size: 54px;"></i>
                  <h4 class="mt-5">Add a language</h4>
               </a>
            </div>
         {% else %}
            <div class="row w-100 h-100">
               <div class="w-10 d-flex justify-content-center blur-right blur-arrow">
                  <div class="swiper-button-prev" style="left: auto !important"></div>
               </div>
               <div class="swiper mySwiper w-80">
                 <div class="swiper-wrapper">
                   {% for lan in languages %}
                     <div class="swiper-slide card-float d-flex flex-column justify-content-center
                        align-items-center">
                        <a href="{% url 'word_list' lan.id %}" class="wireframe w-100 h-100 d-flex
                           justify-content-center align-items-center flex-column gap-4 text-decoration-none position-relative">
                           {% if lan.image.file %}
                           <img src="{{ lan.image.file.url }}" alt="{{ lan.name }}"
                              width="70%" height="40%">
                           {% else %}
                           <div style="height: 150px;"></div>
                           {% endif %}
                           <div class="text-normal position-absolute" style="bottom: 2%">{{ lan.name }}</div>

                        </a>
                     </div>
                   {% endfor %}
                 </div>
               </div>
               <div class="w-10 d-flex justify-content-center blur-left blur-arrow">
                  <div class="swiper-button-next" style="right: auto !important"></div>
               </div>
            </div>
         {% endif %}
      </div>
   </div>
</div>
{% endblock innerbody %}
   
{% block additionalScripts %}
<script src="{% static 'swiper/swiper-bundle.min.js' %}"></script>
<script>
   
   new Swiper('.mySwiper', {
      cssMode: true,
      slidesPerView: 3,
      spaceBetween: 16,
      centeredSlides: true,
      breakpoints: {
         576: { slidesPerView: 1 },
         700: { slidesPerView: 2 },
         992: { slidesPerView: 3 },
      },
      navigation: {
         nextEl: '.swiper-button-next',
         prevEl: '.swiper-button-prev',
      },
      watchSlidesProgress: false,
      mousewheel: false,
      keyboard: true,
   });
   
   function initAddLanguageForm() {
      document.getElementById('genericModalTitle')
         .textContent = 'Add a language to your set';
   }

</script>
{% endblock %}