{% extends 'base.html' %}

{% block additionalStyles %}
<style>
   .top-part { padding-top: 40px; padding-bottom: 40px;}
  
   /*.table-row{
      border: 1px solid rgba(166, 138, 58, 0.2);
         transition: background 0.2s;
   }*/
/*   .table-row:hover{
      background: radial-gradient(ellipse at 50% 0%, rgba(180, 130, 40, 0.15), transparent 60%);
   }*/
   .pseudo-header { border-bottom: 1px solid var(--accent-blue); background: var(--bg-dark)}
   /*.table-row { border-top: 1px solid var(--color-border); }*/
   .row-even { background-color: #161b2a;}
   .row-odd { background-color: #1d263c;}
   .table-header-text { font-weight: bold; font-size: 1.4rem; color: var(--accent-gold); }
   .word-name { color: var(--text-info) }
   /*.table-row, .table-cell {border: 1px solid var(--color-border);}*/
   .table-row { padding: 5px 10px; min-height: 50px;}
   .table-separator { border: 1px solid var(--border-color); }
   .ex-number { color: var(--color-text-muted);}
   .word-name { font-size: 1.3rem; font-style: italic; font-weight: 600;}
   .def-text { hyphens: auto; font-size: 1.2rem;} 
   .ex-text { font-style: italic; hyphens: auto; font-size: 1.1rem;} 
   details.custom-marker summary { list-style: none; }
   details.custom-marker summary::-webkit-details-marker { display: none; }
   details.custom-marker summary {
      display: flex;
      align-items: baseline;
      gap: 1rem;
   }

   details.custom-marker.has-example:not(.detail-marker-hidden) summary::before {
      content: "▶";
      font-size: 0.7rem;
      color: var(--color-muted);
   }

   details.custom-marker[open]:not(.detail-marker-hidden) summary::before {
      content: "▼";
   }

   details.custom-marker[open].detail-marker-hidden summary::before {
      content: " ";
   }

   details.details-success.custom-marker summary::before { color: var(--color-success); }
   details.details-important.custom-marker summary::before { color: var(--color-important); }
   details.details-danger.custom-marker summary::before { color: var(--color-accent); }


   .circle-marker { font-size: 0.7rem;}
   .circle-marker.success { color: var(--color-success); }
   .circle-marker.important { color: var(--color-important); }
   .circle-marker.danger { color: var(--color-danger); }

   .custom-tooltip { --bs-tooltip-bg: var(--color-bg-body); --bs-tooltip-color: white; }
   .custom-square-check::before { 
      background-color: var(--bg-primary); 
      border-radius: 3px; 
      padding: 1px 2px;
   }
   .custom-square-check { bottom: -3px; left: 60%; font-size: 0.8rem;}
   .tag-region { background-color: var(--bg-info) }

   .go-page input, .go-page button {
      font-family: 'Emulogic';
   }

   .pagination-wrapper, .go-page {
      /*border: 6px double #1c1cdb;*/
      /*background-color: black;*/
      border-radius: 7px;
   }

   .pagination-wrapper {
      padding: 20px 25px 50px 25px;
   }


   .pagination {
      position: relative;
      display: flex;
      flex-direction: row;
      --ddim: 12px;
      --rd: 16px;
      --rdim: calc(var(--rd)*2);
      /*--pm: #ffff03;*/
      --step: calc(var(--ddim) + 50px);
   }

   .page-indicator { 
      position: absolute;
      bottom: -40px;
      left: -2px;
      width: 100%;
      /*text-align: center;*/
      font-weight: bold;
      font-size: 0.9rem;
      color: #dedeff;
      font-family: 'Emulogic';
   }

   .pacman-dot {
      content: '';
      margin: 0 25px;
      height: var(--ddim);
      width: var(--ddim);
      /*background: #f7b997;*/
      background: var(--accent-blue);
      cursor: pointer;
      border-radius: 40%;
      padding-left: 10px;
   }

   .pacman-dot.elipsis { 
      background: var(--bg-body);
   }

   .pacman-input {display: none;}

   .pacman {
      content: '';
      position: absolute;
      top: calc(-1 * (var(--rd) - (var(--ddim)/2) ) );
      left: calc(-1 * (var(--ddim) - (var(--rd) / 2)) );
      height: var(--rdim);
      width: var(--rdim);
      transition: transform 250ms linear;
   }

   .pacman:before,
   .pacman:after {
      content: '';
      position: absolute;
      height: var(--rd);
      width: var(--rdim);
      left: 0;
      background: var(--accent-gold);
      transition: inherit;
   }

   .pacman:before {
      top: 0;
      border-top-left-radius: var(--rdim);
      border-top-right-radius: var(--rdim);
      transform-origin: bottom center;
      transform: rotate(-45deg);
   }

   .pacman:after {
      bottom: 0;
      border-bottom-left-radius: var(--rdim);
      border-bottom-right-radius: var(--rdim);
      transform-origin: top center;
      transform: rotate(45deg);
   }

   @keyframes waka {
      0% {}
      50% {transform: rotate(0);}
      100% {}
   }

   .pacman-input[type="radio"]:hover ~ .pacman:before,
   .pacman-input[type="radio"]:hover ~ .pacman:after {
      animation: waka 500ms infinite;
   }

   .pacman-input[id="dot-1"]:checked ~ .pacman {transform: translateX(0);}
   .pacman-input[id="dot-2"]:checked ~ .pacman {transform: translateX(calc(1 * var(--step)));}
   .pacman-input[id="dot-3"]:checked ~ .pacman {transform: translateX(calc(2 * var(--step)));}
   .pacman-input[id="dot-4"]:checked ~ .pacman {transform: translateX(calc(3 * var(--step)));}
   .pacman-input[id="dot-5"]:checked ~ .pacman {transform: translateX(calc(4 * var(--step)));}
   .pacman-input[id="dot-6"]:checked ~ .pacman {transform: translateX(calc(5 * var(--step)));}
   .pacman-input[id="dot-7"]:checked ~ .pacman {transform: translateX(calc(6 * var(--step)));}
   .pacman-input[id="dot-8"]:checked ~ .pacman {transform: translateX(calc(7 * var(--step)));}
   .pacman-input[id="dot-9"]:checked ~ .pacman {transform: translateX(calc(8 * var(--step)));}

   .form-grid {
      width: 85%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
      gap: 16px;
      row-gap: 20px;
   }
   .form-buttons {
      width: 15%;
   }
</style>
{% endblock %}

{% block innerbody %}
<div class="container" style="min-height: 100vh;">
   <div class="top-part gap-2">
      <form method="GET" action="" id="filters-form" class="d-flex">
         <div class="form-grid">
            <div class="d-flex gap-2">
               {{form.timeUnitValue}}
               {{form.timeUnitType}}
               <div id="{{form.timeUnitType.id_for_label}}-dropdownParent"></div>
            </div>
            <div>
               {{form.region}}
               <div id="{{form.region.id_for_label}}-dropdownParent"></div>
            </div>
            <div>
               {{form.source}}
               <div id="{{form.source.id_for_label}}-dropdownParent"></div>
            </div>
            <div>
               {{form.forgettingFrequency}}
               <div id="{{form.forgettingFrequency.id_for_label}}-dropdownParent"></div>
            </div>
         </div>
         <div class="form-buttons d-flex gap-2 justify-content-end">
            <button id="reset-button" type="button" class="btn btn-secondary my-auto">Clear</button>
            <button type="submit" class="btn btn-primary my-auto">Filter</button>
         </div>
      </form>

   </div>
   
   {% if start_date and end_date %}
   <div class="mb-3">
      {{start_date}} - {{end_date}}
   </div>
   {% endif %}

   <div class="pseudo-table" id="word-list-table">
      <div class="pseudo-header row table-row sticky-top">
         <div class="col-3 d-flex align-items-center"> 
            <div class="table-header-text">Word</div>
         </div>
         <div class="col-7 d-flex justify-content-between">
            <div class="d-flex gap-3 align-items-center">
               <div class="table-header-text">Definition</div>
               <i class="fa-regular fa-circle-question text-muted pt-1" style="font-size: 0.9rem;"
                  data-bs-toggle="tooltip" data-bs-html="true"
                  data-bs-title="Color shows forgetting frequency from quizzes.
                     <br><br>Click rows with triangles for more info.">
               </i>
            </div>
            <div class="d-flex gap-2">
               <button class="btn btn-transparent" onclick="toggleIndicator()">
                  <span>Indicator</span>
                  <i class="fa-solid fa-eye"></i>
               </button>
               <button class="btn btn-transparent" onclick="toggleCollapse()">
                  <span>Collapse</span>
                  <i class="fa-solid fa-angles-down"></i>
               </button>
            </div>
         </div>
         <div class="col-2 d-flex justify-content-center pe-4">
            <div class="table-header-text">Actions</div>
         </div>
      </div>
      {% for word in page_obj %}
         <div class="row table-row row-{%if forloop.counter|divisibleby:2%}odd{%else%}even{%endif%}"
            {%if forloop.last%}last-row{%endif%}>
            <div class="word-column col-3 d-flex align-items-center gap-3" data-word-id="{{word.id}}">
               <i class="fa-regular fa-clock text-muted"></i>
               <div class="word-name">{{word.name}}</div>
            </div>
            <div class="col-7">
               <div class="def-column">
                  {% for def in word.definitions.all %}
                     <div class="def-row my-2 d-flex" data-def-id="{{def_id}}"
                     data-word-id="{{word_id}}">
                        <div class="d-flex gap-2">
                           {% if def.origin or def.examples.count > 0 %}
                              <details id="details_{{def.id}}" class="custom-marker has-example
                                 {% if def.forgetting_frequency %}details-{% if def.forgetting_frequency == 'NVR' %}success{% elif def.forgetting_frequency == 'RAR' %}important{% else %}danger{% endif %}{% endif %}">
                                 <summary>
                                    {% if forloop.counter|divisibleby:2 %}<div class="tag tag-region">UK</div>{% endif %}
                                    <div class="def-text w-95">{{ def.description }}</div>
                                 </summary>
                                 <div class="details-content p-2 ps-5 pe-0">
                                    {%if def.origin%}<div>Origin: {{def.origin}}</div>{%endif%}
                                    <div class="my-2">
                                    {% for ex in def.examples.all %}
                                       <div class="d-flex">
                                          <div class="ex-number pe-2">
                                          {{forloop.counter}}.
                                          </div>
                                          <div class="ex-text" lang="en"
                                             {% if ex.explanation %}data-bs-toggle="tooltip" data-bs-placement="right"
                                             data-bs-custom-class="custom-tooltip"
                                             data-bs-title="{{ex.explanation}}"{% endif %}>
                                             {{ex.description}}
                                          </div>
                                       </div>
                                    {% endfor %}
                                    </div>
                                 </div>
                              </details>
                           {% else %}
                              <div class="d-flex circle-marker align-items-center
                                 {% if def.forgetting_frequency %}{% if def.forgetting_frequency == 'NVR' %}success{% elif def.forgetting_frequency == 'RAR' %}important{% else %}danger{% endif %}{% endif %} pe-1">
                                 ●
                              </div>
                              {% if forloop.counter|divisibleby:2 %}<div class="tag tag-muted">UK</div>{% endif %}
                              <div class="ps-1 def-text"> {{def.description}} </div>
                           {% endif %}
                        </div>
                     </div>
                  {% endfor %}
               </div>
            </div>

            <div class="col-2 d-flex align-items-center justify-content-center">
               <div class="actions-column d-flex gap-4 pe-3">
                  <div class="check-icon">
                     <i class="fa-solid fa-clock position-relative text-muted fs-3">
                        <i class="custom-square-check fa-solid fa-check position-absolute text-main">
                        </i>
                     </i>
                  </div>
                  <a href="{% url 'word_details' lang_id=lang_id word_id=word.id %}">
                     <i class="fa-solid fa-arrow-right-to-bracket fs-3 text-accent-blue"></i>
                  </a>
               </div>
            </div>
         </div>
      {% endfor %}
   </div>
   <div class="d-flex justify-content-center align-items-center mt-4">
      <div class="w-25"></div>
      <div class="pagination-wrapper position-relative">
         <div class="pagination">
               {% for p in pages %}
                     <input id="dot-{{forloop.counter}}" class="pacman-input" type="radio" name="dots"
                        {% if p == page_obj.number %}checked{% endif %}
                        {% if p == page_obj.paginator.ELLIPSIS %}disabled{% endif %}
                        data-page-id={{p}}>
                     <label class="pacman-dot position-relative
                        {% if p == page_obj.paginator.ELLIPSIS %}elipsis{% endif %}"
                        for="dot-{{forloop.counter}}"
                        {% if forloop.first %} style="margin-left: 0"{% endif %}
                        {% if forloop.last %} style="margin-right: 0"{% endif %}>
                        <div class="page-indicator w-100 text-center">
                        {% if p is None %}...{% else %}{{p}}{% endif %}
                        </div>
                     </label>
               {% endfor %}
               <div class="pacman"></div>
         </div>
      </div>
      <div class="w-25">
         <form id="change-page" class="d-flex go-page ms-5 gap-2" style="width: 200px;">
            <input type="number" name="page" class="form-control w-70" placeholder="Page"
               min="1" max="{{page_obj.paginator.num_pages}}" required="">
            <button type="submit" class="w-30 btn btn-primary">Go</button>
         </form>
      </div>
   </div>

   <div style="min-height: 2rem;"></div>
</div>
{% endblock innerbody %}

{% block additionalScripts %}
<script>
   const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
   const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
   let globalCollapse = false;
   let globalIndicator = false;

   let toggledDescription = null;
   document.getElementById('word-list-table').addEventListener('click', (e) => {
      const detailsItem = e.target.closest('details');
      if (detailsItem) {
      if (toggledDescription && toggledDescription != detailsItem) {
         toggledDescription.open = false
      }
      toggledDescription = detailsItem;
      }
   });

   const toggleCollapse = function() {
      document.getElementById('word-list-table').querySelectorAll('details')
         .forEach((el) => {el.open = !globalCollapse;});

      globalCollapse = !globalCollapse;
   };

   const toggleIndicator = function() {
      document.getElementById('word-list-table').querySelectorAll('details')
         .forEach((el) => {
            if (!globalIndicator) el.classList.add('detail-marker-hidden');
            else el.classList.remove('detail-marker-hidden');
         });
      document.getElementById('word-list-table').querySelectorAll('.circle-marker')
         .forEach((el) => {
            if (!globalIndicator) el.textContent = " ";
            else el.textContent = "●";
         });
      globalIndicator = !globalIndicator;
   };

   toggleCollapse();
   toggleIndicator();

   $(document).ready(function() {
      $(".top-part").find('select.select2:not(.custom-select2)').each(function() {
         if (!$(this).data('select2')) {
            prepareSelect2(this.id);
         }
      });
   });

   function changePageUrl(pageNumber){
      let currUrl = new URL(window.location.href);
      currUrl.searchParams.set('page', pageNumber);
      window.location.href = currUrl;
   }

   document.querySelectorAll('.pacman-input').forEach((el) => {
      el.addEventListener('change', (event) => {
         if (event.target.checked) changePageUrl(el.dataset.pageId);
      });
   });

   const form = document.getElementById('change-page');
   form.addEventListener('submit', (e) => {
      e.preventDefault();
      const pageNumberBtn = document.getElementById('page-number-btn');
      const input = form.querySelector('input');
      if (!input.value || !Number.isInteger(parseInt(input.value))) return;
      changePageUrl(input.value);
   });

   const filtersForm = document.getElementById('filters-form');
   document.getElementById('reset-button').addEventListener('click', () => {
      var inputs = $(filtersForm).find('input, select, textarea').val('').trigger('change');
      filtersForm.submit();
   });

   $('#id_timeUnitType').on('select2:clear', function (){
      $('#id_timeUnitValue').val('').trigger('change');
   });
</script>
{% endblock %}