{% extends 'base.html' %}

{% block additionalStyles %}
<style>
   .missing-category, .missing-key, .missing-value, .description, .header span, .list-item .title { font-size: 1.1rem; }
   .description { color: var(--text-muted);}
   .list-item {
      background: var(--bg-surface);
      border-bottom: 1px solid var(--border-color);
      padding: 1rem 0;
   }
   .header {
      padding: 1rem 0;
      background: var(--bg-dark);
      border-bottom: 1px solid var(--border-color);
   }
   .header span { color: var(--accent-gold); font-weight: bold;;}

   .list-item .title {
      font-weight: bold;
      font-style: italic;
   }
   .list-item .date {
      color: var(--text-muted);
      font-size: 0.9rem;
   }
   .missing-category {
      color: var(--text-muted);
   }
   .missing-key { font-style: italic; color: inherit; }
   .missing-value { color: inherit; }

   .pagination-wrapper {
      background: var(--bg-surface);
      color: var(--text-main);
      border-radius: 0.2rem;
      display: flex; align-items: center;
   }

   .pagination-wrapper > *:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
   }

   .pagination-wrapper > *:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
   }

   .ellipsis, .page-indicator {
      background: var(--bg-elevated);
      color: inherit;
      padding: 5px 10px;
      /* border: 1px solid var(--border-color); */
   }
   .ellipsis, .page-indicator { font-size: 1.2rem }
   .page-indicator { text-decoration: none;}
   
   .page-indicator.active { background: var(--bg-purple); color: white; }
   .page-indicator:hover { background: var(--bg-red); color: white; }
   
   #go-btn, #page-input { font-size: 1.1rem }
   #page-input { border-top-right-radius: 0; border-bottom-right-radius: 0; padding-left: 20px; padding-right: 20px; }
   #go-btn { background: var(--bg-purple); color: white; border-top-left-radius: 0; border-bottom-left-radius: 0; }
   #go-btn:hover { background: var(--bg-red)}

   .form-grid { display: grid; grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); gap: 16px; row-gap: 20px; }
   .form-buttons {
      grid-column-end: -1;
      margin-left: auto;
   }

   #pagination-row {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;
      flex-wrap: wrap
   }

   #related-grid {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 20px 10px;
   }
</style>
{% endblock %}

{% block innerbody %}

<div class="container-lg">

   <h2 class="mt-5">Pending List</h2>

   <div class="description mt-4 mb-4">
      This page shows words with incomplete fields, primarily those added from the 'My Sources' panel.
      This is intentional—you usually don't need to dive deep into word details while watching a show.
   </div>

   <h5 class="mt-2 mb-3">To search later</h5>
   <div id="related-grid">
      {% for word in drafts %}
         <div class="grid-item">
            <a href="{% url 'word_edit' lang_id=lang_id word_id=word.id%}">
               {{word.name}}
            </a>
         </div>
      {% endfor %}
      <div class="grid-item">
         <a class="text-decoration-none add-pending text-main ps-1"
         hx-get="{% url 'add_word_later' lang_id=lang_id %}"
         hx-target="#genericModalBody"
         hx-error="#error-box"
         hx-trigger="click"
         data-bs-toggle="modal"
         data-bs-target="#genericModal"
         style="cursor: pointer">
         Add item
         <i class="fa-solid fa-circle-plus"></i>
      </a>
      </div>
   </div>
   <div class="pending-list mt-4">
      <div class="header px-md-4 px-3 d-flex justify-content-between">
         <span>Words with missing fields</span>
         <span>Problems</span>
      </div>
      {% for word in page_obj %}
      <div class="list-item row gx-0">
         <div class="col-md-5 ps-md-4 ps-3">
            <span class="title">{{word.name|capfirst}}</span>
            <span class="date ms-1">{{word.added_at}}</span>
         </div>
         <div class="col-md-6 px-md-4 px-3">
            {% if word.missing_counts.definitions %}
               <span class="missing-category">In Definitions - </span>
            {% endif %}
            {% for key, value in word.missing_counts.definitions.items %}
            <span class="{% if key == 'definitions' or key == 'description' %}text-danger{% endif %}">
               <span class="missing-key">{{key|capfirst}}:</span>
               <span class="missing-value">{{value}}</span>{% if not forloop.last %}, {% endif %}
            </span>
            {% endfor %}
            {% if word.missing_counts.examples %}
               <span class="missing-category">In Examples - </span>
            {% endif %}
            {% for key, value in word.missing_counts.examples.items %}
            <span class="{% if key == 'examples' %}text-danger{% endif %}">
               <span class="missing-key">{{key|capfirst}}:</span>
               <span class="missing-value">{{value}}</span>
               <span>{% if not forloop.last %},&nbsp;{% endif %}</span>
            </span>
            {% endfor %}
         </div>
         <div class="col-md-1 pe-md-4 pe-3 d-flex justify-content-end">
            <a href="{% url 'word_edit' lang_id=lang_id word_id=word.id%}" class="btn btn-primary my-auto">Fix</a>
         </div>
      </div>
      {% endfor %}
   </div>

   <div id="pagination-row" class="mt-4">
      <div class="pagination-wrapper">
         {% for p in pages %}
            {% if p == page_obj.paginator.ELLIPSIS %}
               <div class="ellipsis">...</div>
            {% else %}
               <a href="?page={{p}}"
                  class="page-indicator{% if p == page_obj.number %} active{% endif %}">
                  {{p}}
               </a>
            {% endif %}
         {% endfor %}
      </div>
      <form method="GET" url="{% url 'word_list' lang_id=lang_id %}" class="d-flex go-page">
         <input type="number" name="page" class="form-control" id="page-input" placeholder="Page"
            min="1" max="{{page_obj.paginator.num_pages}}" required="">
         <button type="submit" id="go-btn" class="btn">Go</button>
      </form>
   </div>
</div>


<div style="min-height: 2rem;"></div>

{% endblock %}

{% block additionalScripts %}
<script>
   function initSearchLaterForm() {
      document.getElementById('genericModalTitle').textContent = 'Draft a word';
   }
</script>
{% endblock %}