{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block additionalStyles %}
   <style>
      
      .resize-none { 	resize: none; }
      .header-bar { background-color: #0f1420; padding: 30px 150px; height: 100px; }
      .def-row { background-color: #161b2a; border: 1px solid var(--color-bg-input); }
      .d-hidden { visibility: hidden; height: 0px !important; width: 0px !important; position: fixed !important;
          left: -9999px !important; top: -9999px !important;}
      .d-hidden-only { visibility: hidden !important; }
      .banner-input { font-size: 2rem; padding: 0; padding-left: 15px;}
      .banner-input::placeholder { color: var(--color-text-primary) !important }
      .img-input { width: 320px; border-radius: 0 0 10px 10px; }
      .view-mode .underline-important {text-decoration: underline; text-decoration-color: var(--color-important); 
         text-underline-offset: 10px; color: var(--color-text-primary)}
      .form-control-plaintext { caret-color: transparent; }
      textarea[readonly]::placeholder,
      input[readonly]::placeholder {
          color: transparent !important;
      }
      .view-mode input[readonly],
      .view-mode textarea[readonly] { background: transparent; border: none; caret-color: transparent; resize: none; }

      .view-mode .edit-mode-show {
         visibility: hidden; height: 0px !important; width: 0px !important; position: fixed !important;
          left: -9999px !important; top: -9999px !important;
      }

      .edit-mode .view-mode-show {
         visibility: hidden; height: 0px !important; width: 0px !important; position: fixed !important;
          left: -9999px !important; top: -9999px !important;
      }
      .view-mode .field-important { font-weight: 700; }
      .view-mode .field-title-accent { font-size: 1.2rem; font-weight: 700; color: var(--color-text-primary);}
      .view-mode .field-title { font-size: 1.2rem; font-weight: 700; color: var(--color-title);}
      .view-mode .field-description { font-size: 1.2rem; color: var(--color-text-secondary) }
      .view-mode .field-muted { font-size: 1.2rem; font-weight: 700; color: var(--color-text-muted) }
      .view-mode .field-quote {
         font-style: italic;
         font-size: 1.2rem;
         border-bottom: 1px solid var(--color-bg-input) !important;
         color: var(--color-text-secondary)
      }

      .view-mode .field-explanation { color: var(--color-text-secondary); border-bottom: 1px solid var(--color-bg-input) !important; }
      .icon-muted { color: var(--color-btn-muted); }

      .edit-mode .tag-muted { background-color: var(--color-bg-info) !important; }
      .explanation-arrow { position: absolute; bottom: 10px; left: -21px;}
      .explanation-arrow i { color: var(--color-success); }
      .view-mode .w-75-e-100 { width: 75% !important; }
      .edit-mode .w-75-e-100 { width: 100% !important; }
      .image-placeholder { display: flex; justify-content: center; align-items: center; width: 320px; height: 180px; background: #212838; border-radius: 10px 10px 0 0; }
      .view-mode .image-placeholder { border-radius: 10px; }

   </style>
{% endblock additionalStyles %}


{% block innerbody %}
<!-- custom 'get_at' filter -->
{% load custom_filters %}

{% if has_word %}
   {% url 'word_edit' word_id as target_url %}
{% else %}
   {% url 'word' as target_url %}
{% endif %}

<form action="{{target_url}}" method="post" enctype="multipart/form-data" id="word-form"
   class="{% if has_word %}view-mode{% else %}edit-mode{% endif %}">
   {% csrf_token %}
   <div id="failing" class="d-flex justify-content-between sticky-top blue-line header-bar">
      <div class="wireframe d-flex gap-5 align-items-center w-75">
         <div class="wireframe">
            {{word_form.name}}
         </div>
         <div style="text-decoration: underline;">Ngram</div>
         <div> Related words: <div style="text-decoration: underline;">Brooding</div>
         </div>
      </div>
      <div class="wireframe">
         <div class="d-flex justify-content-end align-items-center gap-3 h-100">
            <!-- <button type="button" class="btn btn-secondary" style="width: 70px;">Edit</button> -->
            <button type="submit" class="btn btn-important" style="width: 100px;">Save</button>
         </div>
      </div>
   </div>
   <div style="padding: 30px 150px">
      <div class="position-relative mb-3 edit-mode-show">
         <a class="position-absolute add-definition-item" style="left: -35px"
            onclick="addDefinition(); return false;">
            <i class="fa-solid fa-circle-plus fs-5"></i>
         </a>
         Definitions
      </div>
      <div id="definitions-container">
         {{ def_formset.management_form }}
         {% for def_form in def_formset %}
            {% if def_form.errors %}
               <div class="alert alert-danger">
                  <strong>Please fix the definition form errors.</strong>
               </div>
            {% endif %}

            {% with def_index=forloop.counter0 %}
            <div class="def-row d-grid pb-3 mb-4 rounded{%if forloop.last%} d-hidden{%endif%} position-relative"
               data-def-index="{{ def_index }}"
               data-is-prototype="{% if forloop.last %}true{% else %}false{%endif%}"
               style="grid-template-columns: 55% 45%;">
               
               <div class="wireframe px-5 pt-1 position-relative">
                  {{ def_form.id }}
                  <input type="checkbox" name="{{ def_form.DELETE.html_name }}"
                     id="{{ def_form.DELETE.id_for_label }}"
                  {% if forloop.last %}checked{% endif %} class="d-hidden def-to-delete">
                  
                  <div class="mb-3">
                     <div class="d-flex justify-content-between align-items-center mt-3 mb-2 
                        position-relative">

                        <label for="def_form.description.id_for_label" class="form-label m-0
                           field-title-accent">
                           {{ def_form.description.label }} {{forloop.counter}}
                        </label>
                        
                        <div class="tag" style="width: 100px; height: 30px;">
                        </div>
                        
                        <a class="position-absolute
                           remove-definition-item edit-mode-show"
                           style="left: -32px;"
                           href="#" data-def-index="{{ def_index }}" 
                           onclick="removeDefinition(this); return false;">

                           <i class="fa-solid fa-trash fs-6" style="color: var(--color-danger)"></i>
                        </a>
                     </div>
                     {% if forloop.last %}
                        {{ def_form.description }}
                     {% else %}
                        {% render_field def_form.description required="required" %}
                     {% endif %}
                     {{ def_form.description.errors }}
                  </div>
         
                  <div class="mb-3 edit-mode-show">
                     <label for="def_form.origin.id_for_label" class="form-label field-title">
                        {{ def_form.origin.label }}
                     </label>
                     {{ def_form.origin }}
                     {{ def_form.origin.errors }}
                  </div>

                  <div class="d-flex position-relative">
                     <div class="position-absolute edit-mode-show" style="left: -35px">
                        <a class="add-example-item" href="#" data-def-index="{{ def_index }}" 
                        onclick="addExample(this, 'true'); return false;">
                           <i class="fa-solid fa-circle-plus fs-5"></i>
                        </a>
                     </div>
                     <div class="field-title">Examples</div>
                  </div>
               </div>




               <div class="wireframe d-flex justify-content-center align-items-center">
                  <div class="wireframe p-4 pb-0">
                     <div class="image-placeholder">
                        <i class="fa-regular fa-image" style="font-size: 80px;"></i>
                     </div>
                     <div class="edit-mode-show wireframe h-15 d-flex justify-content-center align-items-center gap-3">
                        {{ def_form.image_file }}
                        {{ def_form.image_file.errors }}
                     </div>
                  </div>
               </div>




               <div class="pt-3 view-mode-show" style="grid-column: 1 / -1;"></div>
               <div class="d-flex" style="grid-column: 1 / -1;">
                  <!-- Examples for this definition -->
                  {% with ex_fs=example_formsets|get_at:def_index %}
                     <div class="examples-container w-100" data-def-index="{{ def_index }}">
                        {{ ex_fs.management_form }}
                        {% for ex_form in ex_fs %}
                           {% if ex_form.errors %}
                              <div class="alert alert-danger">
                                 <strong>Please fix the example form errors.</strong>
                              </div>
                           {% endif %}
                           <div class="ex-row d-flex{%if forloop.last%} d-hidden prototype-row{%endif%}"
                              data-ex-index="{{ forloop.counter0 }}"
                              data-is-prototype="{%if forloop.last%}true{%else%}false{%endif%}">
                              {{ ex_form.id }}

                              <input type="checkbox" name="{{ ex_form.DELETE.html_name }}"
                                 id="{{ ex_form.DELETE.id_for_label }}"
                                 {% if forloop.last %}checked{% endif %} class="d-hidden">

                              <div class="wireframe w-100 pb-4 d-flex">
                                 <div class="px-5 w-55">
                                    <div class="d-flex justify-content-{%if has_word%}between{%else%}end{%endif%}">
                                       <div class="d-flex gap-2">
                                          <div class="tag tag-muted">Idiom</div>
                                          <div class="tag tag-muted">Verb</div>
                                       </div>
                                    </div>
                                    <div class="pt-2 edit-mode-show"></div>
                                    <div class="d-flex align-items-center gap-3">
                                       <a href="#" data-def-index="{{def_index}}"
                                          data-ex-index="{{ forloop.counter0 }}" 
                                          class="remove-example-item edit-mode-show"
                                          onclick="removeExample(this); return false;">
                                          <i class="fa-solid fa-trash"></i>
                                       </a>
                                       {% if forloop.last %}
                                          {{ ex_form.description }}
                                       {% else %}
                                          {% render_field ex_form.description required="required" %}
                                       {% endif %}
                                       {{ ex_form.description.errors }}
                                    </div>
                                 </div>
                                 <div class="pe-5 ps-4 position-relative" style="width: 45% !important;">
                                    <div class="explanation-arrow">
                                       <i class="fa-solid fa-angles-right"></i>
                                    </div>
                                    <div class="d-flex justify-content-end gap-2" style="visibility: hidden;">
                                       <div class="tag">Idiom</div>
                                       <div class="tag">Verb</div>
                                    </div>
                                    <div class="pt-2 d-flex">
                                       <div class="w-75-e-100">
                                          {{ ex_form.explanation }}
                                          {{ ex_form.explanation.errors }}
                                       </div>
                                       <div class="w-25 d-flex gap-3 justify-content-end align-items-center view-mode-show">
                                          <i class="fa-solid fa-file-audio fs-4 icon-muted"></i>
                                          <i class="fa-solid fa-clapperboard fs-4 icon-muted"></i>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        {% endfor %}
                     </div>
                  {% endwith %}
               </div>
            </div>
            {% endwith %}
         {% endfor %}
      </div>
   </div>
</form>


{% endblock innerbody %}
   
{% block additionalScripts %}

<script>
function addDefinition() {
   const container = document.getElementById('definitions-container');
   const totalForms = document.getElementById('id_definitions-TOTAL_FORMS');
   const currentCount = parseInt(totalForms.value);
   const newRow = container.querySelector('.def-row[data-is-prototype="true"]').cloneNode(true);
   
   newRow.dataset.isPrototype = 'false';
   newRow.classList.remove('d-hidden');

   const exContainer = newRow.querySelector('.examples-container');
   
   exContainer.querySelector('[id$="-TOTAL_FORMS"]').value = 1;
   
   newRow.innerHTML = newRow.innerHTML
      .replace(/definitions-\d+/g, `definitions-${currentCount}`)
      .replace(/def-\d+-examples-\d+/g, `def-${currentCount}-examples-0`)
      .replace(/def-\d+-examples/g, `def-${currentCount}-examples`);

   const deleteInput = newRow.querySelector('input[id$="-DELETE"]');
   
   checkDeleteInput({ instance: deleteInput, checked: false });
   
   deleteInput.classList.remove('def-to-delete');

   newRow.dataset.defIndex = currentCount;
   newRow.querySelectorAll('.examples-container, .add-example-item, .remove-definition-item, .remove-example-item')
      .forEach(el => el.setAttribute('data-def-index', currentCount));

   setManualRequired(newRow, true);

   container.appendChild(newRow);
   totalForms.value = currentCount + 1;
}

function addExample(element) {
   const defIndex = element.dataset.defIndex;
   const container = document.querySelector(`.examples-container[data-def-index='${defIndex}']`);
   const currentExCount = parseInt(container.querySelector('[id$="-TOTAL_FORMS"]').value);
   const newExRow = container.querySelector('.ex-row[data-is-prototype="true"]').cloneNode(true);

   newExRow.classList.remove('d-hidden', 'prototype-row');
   newExRow.dataset.isPrototype = 'false';

   const oldPrefixRegex = new RegExp(`def-${defIndex}-examples-\\d+`, 'g');
   newExRow.innerHTML = newExRow.innerHTML.replace(oldPrefixRegex, `def-${defIndex}-examples-${currentExCount}`);

   checkDeleteInput({ parent: newExRow, checked: false });

   newExRow.dataset.exIndex = currentExCount;
   newExRow.querySelectorAll('[data-ex-index]').forEach(el => el.dataset.exIndex = currentExCount);

   setManualRequired(newExRow, true);

   container.appendChild(newExRow);
   container.querySelector('[id$="-TOTAL_FORMS"]').value = currentExCount + 1;
}

function removeDefinition(element) {
   const defRow = document.querySelector(`.def-row[data-def-index='${element.dataset.defIndex}']`);
   defRow.classList.add('d-hidden');
   setManualRequired(defRow, false);
   checkDeleteInput({ parent: defRow, checked: true });
}

function removeExample(element) {
   const {defIndex, exIndex} = element.dataset;
   const container = document.querySelector(`.examples-container[data-def-index='${defIndex}']`);
   const exRow = container.querySelector(`.ex-row[data-ex-index='${exIndex}']`);
   exRow.classList.add('d-hidden');
   setManualRequired(exRow, false);
   checkDeleteInput({ parent: exRow, checked: true });
}

function checkDeleteInput({ checked, parent = null, instance = null }) {
   const checkbox = instance || (parent && parent.querySelector('input[id$="-DELETE"]'));
   if (checkbox){  checkbox.checked = checked; checkbox.removeAttribute('checked'); }
}

function setManualRequired(parent, requiredBool) {
   parent.querySelectorAll('[manual-required]').forEach(el => {
      const row = el.closest('.def-row, .ex-row');
      const isReal = row && row.dataset.isPrototype === 'false';
      if (requiredBool && isReal) el.setAttribute('required', 'required');
      else el.removeAttribute('required');
   });
}

document.addEventListener('DOMContentLoaded', function() {
   document.querySelectorAll('form').forEach(form => form.reset());
});

{% if not has_word %}
   addDefinition();
{% else %}
   document.querySelectorAll('input:not([type="hidden"]), textarea').forEach(el => {
      el.readOnly = true;
      el.classList.remove('form-control');
      el.classList.add('form-control-plaintext');
   });
{% endif %}
   
</script>
{% endblock additionalScripts %}

