{% extends 'base.html' %}

{% block additionalStyles %}
<style>
   .top-part { padding-top: 40px; padding-bottom: 40px;}
  
/*   .table-row:hover{
      background: radial-gradient(ellipse at 50% 0%, rgba(180, 130, 40, 0.15), transparent 60%);
   }*/
   .pseudo-header { border-bottom: 1px solid var(--accent-blue); background: var(--bg-dark);}
   /*.table-row { border-top: 1px solid var(--color-border); }*/
   .row-even { background-color: #161b2a;}
   .row-odd { background-color: #1d263c;}
   .table-header-text { font-weight: bold; font-size: 1.4rem; color: var(--accent-gold); }
   .word-name { color: var(--text-info) }
   /*.table-row, .table-cell {border: 1px solid var(--color-border);}*/
   .table-row { padding: 10px 15px; min-height: 50px;}
   .table-separator { border: 1px solid var(--border-color); }
   .ex-number { color: var(--color-text-muted);}
   .word-name { font-size: 1.3rem; font-style: italic; font-weight: 600;}
   .def-text { hyphens: auto; font-size: 1.2rem;} 
   .ex-text { font-style: italic; hyphens: auto; font-size: 1.1rem;} 
   details.custom-marker summary { list-style: none; }
   details.custom-marker summary::-webkit-details-marker { display: none; }
   details.custom-marker summary {
      display: flex;
      align-items: baseline;
      gap: 1rem;
   }

   details.custom-marker.has-example:not(.detail-marker-hidden) summary::before {
      content: "▶";
      font-size: 0.7rem;
      color: var(--color-muted);
   }

   details.custom-marker[open]:not(.detail-marker-hidden) summary::before {
      content: "▼";
   }

   details.custom-marker[open].detail-marker-hidden summary::before {
      content: " ";
   }

   details.details-success.custom-marker summary::before { color: var(--color-success); }
   details.details-important.custom-marker summary::before { color: var(--color-important); }
   details.details-danger.custom-marker summary::before { color: var(--color-accent); }


   .circle-marker { font-size: 0.7rem;}
   .circle-marker.success { color: var(--color-success); }
   .circle-marker.important { color: var(--color-important); }
   .circle-marker.danger { color: var(--color-danger); }

   .custom-tooltip { --bs-tooltip-bg: var(--color-bg-body); --bs-tooltip-color: white; }
   .custom-square-check::before { 
      background-color: var(--bg-primary); 
      border-radius: 3px; 
      padding: 1px 2px;
   }
   .custom-square-check { bottom: -3px; left: 60%; font-size: 0.8rem;}
   .tag-region { background-color: var(--bg-info) }


   .pagination-wrapper {
      background: var(--bg-surface);
      color: var(--text-main);
      border-radius: 0.2rem;
      display: flex; align-items: center;
   }

   .pagination-wrapper > *:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
   }

   .pagination-wrapper > *:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
   }

   .ellipsis, .page-indicator {
      background: var(--bg-elevated);
      color: inherit;
      padding: 5px 10px;
      /* border: 1px solid var(--border-color); */
   }
   .ellipsis, .page-indicator { font-size: 1.2rem }
   .page-indicator { text-decoration: none;}
   
   .page-indicator.active { background: var(--bg-purple); color: white; }
   .page-indicator:hover { background: var(--bg-red); color: white; }
   
   #go-btn, #page-input { font-size: 1.1rem }
   #page-input { border-top-right-radius: 0; border-bottom-right-radius: 0; padding-right: 40px; }
   #go-btn { background: var(--bg-purple); color: white; border-top-left-radius: 0; border-bottom-left-radius: 0; }
   #go-btn:hover { background: var(--bg-red)}

   .form-grid { display: grid; grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); gap: 16px; row-gap: 20px; }
   .form-buttons {
      grid-column-end: -1;
      margin-left: auto;
   }

   #pagination-row {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;
      flex-wrap: wrap
   }
   
</style>
{% endblock %}

{% block innerbody %}
<div class="container-lg" style="min-height: 100vh;">
   <div class="top-part">
      <form method="GET" action="" id="filters-form" class="form-grid">
         <div class="d-flex gap-2">
            {{form.timeUnitValue}}
            {{form.timeUnitType}}
            <div id="{{form.timeUnitType.id_for_label}}-dropdownParent"></div>
         </div>
         <div>
            {{form.region}}
            <div id="{{form.region.id_for_label}}-dropdownParent"></div>
         </div>
         <div>
            {{form.source}}
            <div id="{{form.source.id_for_label}}-dropdownParent"></div>
         </div>
         <div>
            {{form.forgettingFrequency}}
            <div id="{{form.forgettingFrequency.id_for_label}}-dropdownParent"></div>
         </div>
         <div class="form-buttons">
            <button id="reset-button" type="button" class="btn btn-secondary my-auto me-2">Clear</button>
            <button type="submit" class="btn btn-primary my-auto">Filter</button>
         </div>
      </form>

   </div>
   
   {% if start_date and end_date %}
   <div class="mb-3">
      {{start_date}} - {{end_date}}
   </div>
   {% endif %}

   <div class="pseudo-table" id="word-list-table">
      <div class="pseudo-header row table-row sticky-top gx-0">
         <div class="col-3 d-flex align-items-center"> 
            <div class="table-header-text">Word</div>
         </div>
         <div class="col-7 d-flex justify-content-between">
            <div class="d-flex gap-3 align-items-center">
               <div class="table-header-text">Definition</div>
               <i class="fa-regular fa-circle-question text-muted pt-1" style="font-size: 0.9rem;"
                  data-bs-toggle="tooltip" data-bs-html="true"
                  data-bs-title="Color shows forgetting frequency from quizzes.
                     <br><br>Click rows with triangles for more info.">
               </i>
            </div>
            <div class="d-flex gap-2">
               <button type="button" class="btn btn-transparent" onclick="toggleIndicator()">
                  <span>Indicator</span>
                  <i class="fa-solid fa-eye"></i>
               </button>
               <button type="button" class="btn btn-transparent" onclick="toggleCollapse()">
                  <span>Collapse</span>
                  <i class="fa-solid fa-angles-down"></i>
               </button>
            </div>
         </div>
         <div class="col-2 d-flex justify-content-end pe-3">
            <div class="table-header-text">Actions</div>
         </div>
      </div>
      {% for word in page_obj %}
         <div class="row table-row row-{%if forloop.counter|divisibleby:2%}odd{%else%}even{%endif%} gx-0"
            {%if forloop.last%}last-row{%endif%}>
            <div class="word-column col-xl-3 d-flex align-items-center gap-3" data-word-id="{{word.id}}">
               <i class="fa-regular fa-clock text-muted"></i>
               <div class="word-name">{{word.name}}</div>
            </div>
            <div class="col-xl-7">
               <div class="def-column">
                  {% for def in word.definitions.all %}
                     <div class="def-row my-2 d-flex" data-def-id="{{def_id}}"
                     data-word-id="{{word_id}}">
                        <div class="d-flex gap-2">
                           {% if def.origin or def.examples.count > 0 %}
                              <details id="details_{{def.id}}" class="custom-marker has-example
                                 {% if def.forgetting_frequency %}details-{% if def.forgetting_frequency == 'NVR' %}success{% elif def.forgetting_frequency == 'RAR' %}important{% else %}danger{% endif %}{% endif %}">
                                 <summary>
                                    {% if forloop.counter|divisibleby:2 %}<div class="tag tag-region">UK</div>{% endif %}
                                    <div class="def-text w-95">{{ def.description }}</div>
                                 </summary>
                                 <div class="details-content p-2 ps-5 pe-0">
                                    {%if def.origin%}<div>Origin: {{def.origin}}</div>{%endif%}
                                    <div class="my-2">
                                    {% for ex in def.examples.all %}
                                       <div class="d-flex">
                                          <div class="ex-number pe-2">
                                          {{forloop.counter}}.
                                          </div>
                                          <div class="ex-text" lang="en"
                                             {% if ex.explanation %}data-bs-toggle="tooltip" data-bs-placement="right"
                                             data-bs-custom-class="custom-tooltip"
                                             data-bs-title="{{ex.explanation}}"{% endif %}>
                                             {{ex.description}}
                                          </div>
                                       </div>
                                    {% endfor %}
                                    </div>
                                 </div>
                              </details>
                           {% else %}
                              <div class="d-flex circle-marker align-items-center
                                 {% if def.forgetting_frequency %}{% if def.forgetting_frequency == 'NVR' %}success{% elif def.forgetting_frequency == 'RAR' %}important{% else %}danger{% endif %}{% endif %} pe-1">
                                 ●
                              </div>
                              {% if forloop.counter|divisibleby:2 %}<div class="tag tag-muted">UK</div>{% endif %}
                              <div class="ps-1 def-text"> {{def.description}} </div>
                           {% endif %}
                        </div>
                     </div>
                  {% endfor %}
               </div>
            </div>

            <div class="col-xl-2 d-flex align-items-center justify-content-end">
               <div class="actions-column d-flex gap-4 pe-3">
                  <div class="check-icon">
                     <i class="fa-solid fa-clock position-relative text-muted fs-3">
                        <i class="custom-square-check fa-solid fa-check position-absolute text-main">
                        </i>
                     </i>
                  </div>
                  <a href="{% url 'word_details' lang_id=lang_id word_id=word.id %}">
                     <i class="fa-solid fa-arrow-right-to-bracket fs-3 text-accent-blue"></i>
                  </a>
               </div>
            </div>
         </div>
      {% endfor %}
   </div>


   <div id="pagination-row" class="mt-4">
      <div class="pagination-wrapper">
         {% for p in pages %}
            {% if p == page_obj.paginator.ELLIPSIS %}
               <div class="ellipsis">...</div>
            {% else %}
               <a href="?page={{p}}"
                  data-page-number="{{p}}"
                  class="page-indicator{% if p == page_obj.number %} active{% endif %}">
                  {{p}}
               </a>
            {% endif %}
         {% endfor %}
      </div>
      <form method="GET" url="{% url 'word_list' lang_id=lang_id %}" class="d-flex go-page">
         <input type="number" name="page" class="form-control" id="page-input" placeholder="Page"
            min="1" max="{{page_obj.paginator.num_pages}}" required="">
         <button type="submit" id="go-btn" class="btn">Go</button>
      </form>
   </div>

   <div style="min-height: 2rem;"></div>
</div>
{% endblock innerbody %}

{% block additionalScripts %}
<script>
   const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
   const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
   let globalCollapse = false;
   let globalIndicator = false;

   let toggledDescription = null;
   document.getElementById('word-list-table').addEventListener('click', (e) => {
      const detailsItem = e.target.closest('details');
      if (detailsItem) {
      if (toggledDescription && toggledDescription != detailsItem) {
         toggledDescription.open = false
      }
      toggledDescription = detailsItem;
      }
   });

   const toggleCollapse = function() {
      document.getElementById('word-list-table').querySelectorAll('details')
         .forEach((el) => {el.open = !globalCollapse;});

      globalCollapse = !globalCollapse;
   };

   const toggleIndicator = function() {
      document.getElementById('word-list-table').querySelectorAll('details')
         .forEach((el) => {
            if (!globalIndicator) el.classList.add('detail-marker-hidden');
            else el.classList.remove('detail-marker-hidden');
         });
      document.getElementById('word-list-table').querySelectorAll('.circle-marker')
         .forEach((el) => {
            if (!globalIndicator) el.textContent = " ";
            else el.textContent = "●";
         });
      globalIndicator = !globalIndicator;
   };

   toggleCollapse();
   toggleIndicator();

   $(document).ready(function() {
      $(".top-part").find('select.select2:not(.custom-select2)').each(function() {
         if (!$(this).data('select2')) {
            prepareSelect2(this.id);
         }
      });
   });

   const filtersForm = document.getElementById('filters-form');
   document.getElementById('reset-button').addEventListener('click', () => {
      var inputs = $(filtersForm).find('input, select, textarea').val('').trigger('change');
      filtersForm.submit();
   });

   $('#id_timeUnitType').on('select2:clear', function (){
      $('#id_timeUnitValue').val('').trigger('change');
   });


   const pageBtns = document.querySelectorAll('.page-indicator');
   for (const a of pageBtns) {
      a.addEventListener('click', (e) => {
         e.preventDefault();
         const url = new URL(window.location.href);
         url.searchParams.set('page', e.target.dataset.pageNumber);
         window.location.href = url;
      });
   }

</script>
{% endblock %}